{% extends 'reservations/base_visitor.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>{{ event.name }}</h1>
                    <p><strong>Name:</strong> <a href="">{{ event.name }}</a></p>
                    <p><strong>Location:</strong> {{ event.location }}</p>
                    <p><strong>Max Seats:</strong> {{ event.max_seats }}</p>
                    <p><strong>Available Seats:</strong> {{ event.available_seats }}</p>
                    <p><strong>Ticket Price:</strong> {{ event.ticket_price }}</p>
                    <p><strong>Date:</strong> {{ event.date }}</p>
                    <a href="/reservations/{{ event.id }}/reservation"> <button class="btn btn-primary">Paga e prenota ora!</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
